/* MapContainer */
.leaflet-container {
  height: 100vh;
}

.layerBrowser {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: rgb(233, 229, 229);
  z-index: 999;
}

.layerMobile {
  position: fixed;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: rgb(233, 229, 229);
  z-index: 999;
}
