.searchDiv {
  background-color: rgb(24, 23, 23);
  width: 50%;
  height: 2.7rem;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0 0 5px 0 rgb(129, 115, 115);
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  margin-left: 5px;
  color: rgb(212, 210, 190);
}

input::focus {
  outline: none;
}

#searchIcon {
  color: black;
}
